html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Ducati Youtech v1')
    meta(name='author', content='Omnia Group Srl')
    link(rel='icon', href='favicon.ico')
body.youtech
   .container-fluid
    .row
    span  #{message}
    .row
    span #{error}